DirectoryIndex index.htm index.php
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>	
<IfModule mod_rewrite.c>
    Options +FollowSymLinks -Indexes
    RewriteEngine on
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !=/index.htm
    RewriteRule .* /index.php
</IfModule>